<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="css/styles.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Portfolio website Of Shakib Hasan</title>
</head>
<body>
     <!--===== HEADER =====-->
     <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">Shakib</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="/skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="/work" class="nav__link">Friends</a></li>
                    <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>


    
    <%- body  %> 




<!--===== FOOTER =====-->
<footer class="footer">
    <p class="footer__title">Md. Shakib Hasan</p>
    <div class="footer__social">
        <a href="http://fb.me/sakibhasan725/" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
        <a href="https://www.instagram.com/sakibhasan_72/" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
        <a href="https://api.whatsapp.com/send?phone=8801734214000&text=Hello%20I'm%20Shakib" class="footer__icon"><i class='bx bxl-whatsapp' ></i></a>
    </div>
    <p>&#169; 2021 copyright all right reserved</p>
</footer>
    
<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>





       
<!--===== MAIN JS =====-->
<script src="js/main.js"></script>
        
</body>
</html>