 <!--===== ABOUT =====-->
 <section class="about section " id="about">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="img/sakib1.jpg" alt="">
        </div>
        
        <div>
            <h2 class="about__subtitle"><span style="color:rgb(102, 44, 44); font-size : 40px">Hi</span> <br> I'am Shakib.</h2>
            <p class="about__text"> I'm a student of CSE department in Sylhet Polytechnic Institute. My aim is to be an expert Computer engineer. </p>           
        </div>                                   
    </div>
</section>