 <!--===== CONTACT =====-->
 <section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="form">
        <form action="/contact-post" method="post">
            <label for="name">Full Name</label><br>
            <input type="text" name="name" placeholder="Full Name"><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="E-mail"><br>
            <label for="phone">Phone Number</label><br>
            <input type="text" name="phone" placeholder="Phone Number"><br>
            <input type="submit">
         </form>

         
    </div>
    <div class="con1 ">
         <ul class="sss">
             <li class="Phone"><a href="tel:+8801734214000"><i class="uil uil-phone"></i>Call</a></li>
             <li class="facebook"><a href="http://fb.me/sakibhasan725/"><i class="uil uil-facebook"></i>Facebook</a> </li>
             <li class="insta"><a href="https://www.instagram.com/sakibhasan_72/"><i class="uil uil-instagram"></i>Instagram</a></li>
             <li class="whatsapp"><a href="https://api.whatsapp.com/send?phone=8801734214000&text=Hello%20I'm%20Shakib"><i class="uil uil-whatsapp"></i>Whatsapp</a></li>
         </ul>
         
    </div>
    
</section>