<!--===== HOME =====-->
<section class="home bd-grid" id="home">
    <div class="home__data">
        <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Shakib</span><br> Web Designer</h1>

        <a href="/contact" class="button">Contact</a>
    </div>

    <div class="home__social">
        <a href="https://www.instagram.com/sakibhasan_72/" class="home__social-icon"><i class='bx bxl-instagram'></i></a>
        <a href="http://web.facebook.com/shakibhasan72/" class="home__social-icon"><i class='bx bxl-facebook' ></i></a>
        <a href="https://github.com/shakibhasan725/" class="home__social-icon"><i class='bx bxl-github' ></i></a>
    </div>

    <div class="home__img">    
        <img src="img/sakib.png" alt="Profile">
    </div>
</section>